@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

::root{
    --font-size-small: calc((14/16)*1rem);
    --font-size-default: calc((16/16)*1rem);
    --font-size-large: calc((24/16)*1rem);

    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 23%, 60%);
    --grey-7: hsl(211, 27%, 70%);

    --text-base-size: 1em;
    --text-line-height: 1.5;
    --font-sans-serif: 'Open Sans', sans-serif;
    --transition: all .3s linear;
}

/* common */

*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    margin: 0;
    color: #1d1410;
    font-size: calc(var(--text-base-size));
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-sans-serif);

}

@media (min-width: 580px){
    body{
        font-size: calc(var(--text-base-size)*0.5em);
        line-height: calc(var(--text-line-height)*0.5);
    }
}

@media (min-width: 770px){
    body{
        font-size: calc(var(--text-base-size)*0.75em);
        line-height: calc(var(--text-line-height)*0.75);
    }
}

@media (min-width: 990px){
    body{
        font-size: calc(var(--text-base-size));
        line-height: calc(var(--text-line-height));
    }
}

h1{
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px){
    h1{
        font-size: 2.5rem;
    }
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

/* ancor */
a{
    color: #1d1410;
    background-color: transparent;
    text-decoration: none;
    transform: var(--transition);
}

/* text */
.text-muted{
    color: darkgray;
}


.text-white{
    color: white;
}


.text-center{
    text-align: center !important;
}

/* layouts */

.row{
    --gutter-x: 1.5rem;
    --gutter-y:0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--gutter-y)*-1);
    margin-right: calc(var(--gutter-x) / -2);
    margin-right: calc(var(--gutter-x) / -2);;
}

.row>*{
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    margin-top: var(--gutter-y);
    padding-right: calc(var(--gutter-x) / 2);
    padding-left: calc(var(--gutter-x) / 2);
}

.container{
    width: 100%;
    padding-right: var(--gutter-x, 1rem);
    padding-left: var(--gutter-x, 1rem);
    margin: 0 auto;
}


@media (min-width:580px){
    .container{
        max-width: 570px;
    }
}

@media (min-width:770px){
    .container{
        max-width: 760px;
    }
}

@media (min-width:900px){
    .container{
        max-width: 960px;
    }
}

@media (min-width:1200px){
    .container{
        max-width: 1150px;
    }
}

@media (min-width:1400px){
    .container{
        max-width: 1330px;
    }
}

.col-1{
    width: calc(100% / 12);
    flex: 0 0 auto;
}

.col-3{
    width: 25%;
    flex: 0 0 auto;
}

.col-4{
    width: calc(100% / 3);
    flex: 0 0 auto;
}

.col-6{
    width: 50%;
    flex: 0 0 auto;
}

.col-9{
    width:75%;
    flex: 0 0 auto;
}

@media (min-width:580px){
    .col-sm{
        flex: 1 0 0%;
    }
    .col-sm-auto{
        flex: 0 0 auto;
        width: auto;
    }
    .col-sm-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
    .col-sm-12{
        flex: 0 0 auto;
        width: 100%;
    }

}
@media (min-width:770px){
    .col-md{
        flex: 1 0 0%;
    }
    .col-md-auto{
        flex: 0 0 auto;
        width: auto;
    }
    .col-md-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
    .col-md-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    .col-md-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    .col-md-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-12{
        flex: 0 0 auto;
        width: 100%;
    }

}
@media (min-width:990px){
    .col-lg{
        flex: 1 0 0%;
    }
    .col-lg-auto{
        flex: 0 0 auto;
        width: auto;
    }
    .col-lg-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
    .col-lg-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    .col-lg-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    .col-lg-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-12{
        flex: 0 0 auto;
        width: 100%;
    }

}
/* lists */
.list-inline{
    list-style: none;
    padding-left: 0%;
}
.list-inline-item{
    display: inline-block;
}

.list-unstyled{
    list-style: none;
    padding: 0;
}


/* margin */
.mb-0{
    margin-bottom: 0;
}
.mb-3{
    margin-bottom: 1.5em;
}
.mb-4{
    margin-bottom: 1.7em;
}


/* navigation */
.d-flex{
    display:flex;
    flex-basis: 100%;
    flex-grow: 1;
    /* align-items: center;
    justify-content:space-between; */
}

nav{
    position:relative;
    font-size:1.2rem;
    padding: 0.5rem 2rem;
}
.navbar{
    display:flex;
    padding-bottom:.5rem;
    padding-top:.5rem;
}

.navbar>.container{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navbar-brand{
    color: #1d1410;
    display:inline-block;
    margin-right:1.5rem;
    font-weight:bold;
    text-decoration:none;
    font-size: 1.5rem;
    white-space:nowrap;
}
.navbar-nav{
    list-style: none;
    align-items:center;
    overflow: hidden;
    display:none;
    transition: var(--transition);
}

.nav-item{

}
.nav-link{
    font-size: 1.2rem;
    background:white;
    color: #1d1410;
    font-weight:bold;
    display:inline-block;
    width:100%;
    text-decoration:none;
    padding:.5rem 1rem;
}

#hamburger{
    display:none;
}

.toggler{
    margin-right:1rem;
}

#hamburger:checked~.navbar-nav{
    position:absolute;
    width:100%;
    left:0;
    top:40px;
    background-color:white;
    height:auto;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    z-index:10;
    transition: var(--transition);
}

@media (min-width:49em){
    .navbar{
        margin: 0 auto;
        display:flex;
        align-items:center;
        justify-content:space-between;
        position:relative;
    }
    .navbar-nav{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        position:relative;
    }

    .navbar-nav-right{
        display:flex;
        align-items:center;
        justify-content:flex-end;
    }

    .toggler{
        display:none;
    }

    .navbar-nav .nav-link{
        background:white;
        color: #1d1410;
        display: inline-block;
        margin-right:0.5rem;
        width:100%;

    }

    .navbar-nav-right{
        display:flex;
        justify-content:flex-end;

    }


}




/* background */

.bg-dark{
    background-color: #1d1410;
}

.py-5{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.bg-center{
    background-position: center center !important;
}

.bg-cover{
    background-size: cover !important;
}
.bg-attachment{
    background-attachment: fixed !important;
}


/* footer */



/* products */

.showcase{
    margin: 0 auto;
}

.products-wrapper{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.product-wrapper{
    flex-shrink: 0;
    /* flex: 0 0 auto; */
    /* width: calc(100% / 4); */
    margin-right: 0.5rem;
    position: relative;
}
.product{
    position: relative !important;
}

.product img{
    max-width: 300px;
}

.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border: 1px solid transparent;
    text-decoration: none;
    padding: .375rem 1.5rem;
    color: #212529;
    background-color: transparent;
}

.btn-primary{
    color: white;
    background-color: indigo;
    border-color: rgb(53, 2, 90);
    border-radius: 4px;
    transition: color 0.5s ease-in, background-color 0.5s ease-in-out. border-color 0.5s linear;
}

.btn-primary:hover{
    color: yellow;
    background-color: rgb(53, 2, 90);
    border-color:  indigo;
    transition: color 0.5s ease-in, background-color 0.5s ease-in-out. border-color 0.5s linear;
}



.btn-primary:focus{
    color: white;
    background-color: indigo;
    border-color:  rgb(200, 133, 248);;
}

.btn-primary:active
{
    color: rgb(255, 255, 0);
    background-color: indigo;
    border-color:  rgb(116, 4, 195);;
}

.product{
    position: relative !important;
 
}

.btn-block{
    position: absolute;
    top:1rem;
    right: 1rem;
}

.product-btn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    background-color: white;
    text-decoration: none;
    color: inherit;
}

.product-btn:hover{
    background: indigo;
    color: white;
}

.social-icon{
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: indigo;
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid transparent;
}

.social-icon:hover{
    background: #4455dd;
    border-color: white;
}

.badge {
    position: absolute;
    top:1rem;
    left:1rem;
    display: inline-block;
    font-size: .75rem;
    padding: .35rem .65rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25rem;
    white-space: nowrap;
}
.bg-danger{
    background-color: red;
}