@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

/* common */
html{
    font-size: 16px;
}

body{
    color: #1d1410;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
}

a{
    color: #1d1410;
}

/* layouts */
.container{

}

/* navigation */
.navbar-brand{

}
.navbar-nav{
    list-style: none;

}
.nav-item{

}
.nav-link{
    font-size: 1.2em;
}
/* footer */

